/* Contrary to my generally compact-favoring trend, I actually like to
 * make the text on notifications bigger so it's easier to notice them. */
#XfceNotifyWindow * {
	font-size: 1.05em;
}

/* Fix displaced icon on Evolution attachment buttons. */
EAttachmentBar button image {
	margin-top: -2px;
}

/* Fix no margin on Xfce Screensaver's action buttons and infobar. */
#login_window #buttonbox_frame > box {
	margin-top: 16px;
}
#login_window #greeter_infobar {
	margin-top: 16px;
}
