/* Regular buttons. */
.xfce4-panel button:hover:not(:active):not(:checked) {
	box-shadow: none;
	background-image: linear-gradient(to bottom, alpha(currentColor, 0.25), transparent, transparent);
}
.xfce4-panel button:checked, .xfce4-panel button:active {
	box-shadow: none;
	background-image: linear-gradient(to bottom, @theme_selected_bg_color, transparent, transparent);
}

/* The tasklist's active button should look like a tab for the window. */
.xfce4-panel .tasklist button:checked {
	background-color: @wm_bg_b;
	font-weight: bold;
}
.xfce4-panel .tasklist button:checked:not(:hover) {
	color: @theme_fg_color;
}

/* Support docklike plugin too. */
/*
.xfce4-panel #docklike-plugin button.group {
	box-shadow: none;
	background-color: transparent;
}

.xfce4-panel #docklike-plugin button.hover_group {
	box-shadow: none;
	background-image: linear-gradient(to bottom, alpha(currentColor, 0.25), transparent, transparent);
}

.xfce4-panel #docklike-plugin button.active_group {
	box-shadow: none;
	background-color: @wm_bg_b;
	background-image: linear-gradient(to bottom, @theme_selected_bg_color, transparent, transparent);
}
*/
