/* Vertical panel weird lol */

/* Gross that these can't be more generic. */
.xfce4-panel #pager-3 button,
.xfce4-panel #pager-12 button,
.xfce4-panel #pager-14 button {
	padding: 0px;
	/*font-size: 1.1em;*/
}
.xfce4-panel #weather-34 image {
	margin-top: unset;
}

.xfce4-panel #windowmenu-button {
	padding: 6px 0px;
	-gtk-icon-transform: scale(1.6);
}
.xfce4-panel * {
    -XfceTasklist-max-button-length: 400px;
}
.xfce4-panel #pulseaudio-button {
	padding: 1px 0px;
}
.xfce4-panel #clock-button {
	margin-left: unset;
	min-width: unset;
}
.xfce4-panel progressbar.horizontal * {
	min-height: 4px;
	border-radius: 3px;
	margin: 0px;
}

/* Shrink volume button more. */
/* We can't do anything about the hardcoded height request. */
.xfce4-panel #pulseaudio-button image {
	-gtk-icon-transform: scale(0.75);
}

/* Regular buttons. */
.xfce4-panel button:hover:not(:active):not(:checked) {
	box-shadow: none;
	background-image: linear-gradient(to right, alpha(currentColor, 0.25), transparent, transparent);
}
.xfce4-panel button:checked, .xfce4-panel button:active {
	box-shadow: none;
	background-image: linear-gradient(to right, @theme_selected_bg_color, transparent, transparent);
}

/* Support docklike plugin too. */
.xfce4-panel #docklike-plugin button.group {
	box-shadow: none;
	background-color: transparent;
}

.xfce4-panel #docklike-plugin button.hover_group {
	box-shadow: none;
	/*background-image: linear-gradient(to right, alpha(currentColor, 0.25), transparent, transparent);*/
}

.xfce4-panel #docklike-plugin button.active_group {
	box-shadow: none;
	/*background-color: @wm_bg_b;
	background-image: linear-gradient(to right, @theme_selected_bg_color, transparent, transparent);*/
}
