/* Xfce4-panel tweaks */

.xfce4-panel button {
	min-width: unset;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 0px;
}
.xfce4-panel button label {
	margin: 0px;
}

/* Add shadows for increased readability on light wallpapers. */
.xfce4-panel * {
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 200);
	-gtk-icon-shadow: 0px 0px 2px rgba(0, 0, 0, 200);
}
.xfce4-panel menu, .xfce4-panel menu * {
	text-shadow: none;
	-gtk-icon-shadow: none;
}
.xfce4-panel {
	font-weight: bold;
}
.xfce4-panel menu, .xfce4-panel menu *,
.xfce4-panel .tasklist button {
	font-weight: normal;
}

/* Gross that these can't be more generic. */
.xfce4-panel #pager-3 button,
.xfce4-panel #pager-12 button,
.xfce4-panel #pager-14 button {
	padding: 0px 2px;
	/*font-size: 1.1em;*/
}
.xfce4-panel #weather-34 image {
	margin-top: 1px;
}

/* These can, though. */
.xfce4-panel #windowmenu-button {
	padding: 0px 6px;
	-gtk-icon-transform: scale(1.6);
}
.xfce4-panel * {
    -XfceTasklist-max-button-length: 400px;
}
.xfce4-panel .tasklist button {
	padding: 0px 4px;
}
.xfce4-panel .tasklist button * {
	-GtkBox-spacing: 0px;
}
.xfce4-panel .tasklist button image {
	padding: 0px;
	margin-left: 4px;
}
.xfce4-panel #pulseaudio-button {
	padding: 0px 1px;
}
.xfce4-panel #pulseaudio-button image {
	-gtk-icon-transform: scale(0.8);
}
.xfce4-panel #clock-button {
	margin-left: 4px;
	min-width: 52px;
}
.xfce4-panel progressbar {
	border-radius: 2px;
}
.xfce4-panel progressbar.vertical * {
	min-width: 4px;
	border-radius: 3px;
	margin: 0px;
}
.xfce4-panel progressbar progress {
	border: none;
}
