/* Murder the goddamn headerbar sizing box. 
 * Thanks to borschty from freenode for the idea.
 * The reason this is necessary is because the sizing box isn't actually
 * attached to a headerbar. Make sure it's still visible though in case
 * this fix breaks something else, so it can be patched over. */
box .title, box .subtitle {
    font-size: 3pt;
    color: red;
}

/* Fix what was broken by the sizing box rule. The reason the first rule works
 * for most applications is because the sizing box is never actually added to
 * a window, but 99% of labels are.
 * For some reason, Bottles needs a shitload of specificity. */ 
window box .title, window box .subtitle,
list row box .title, list row box .subtitle {
    font-size: unset;
    color: unset;
}

/* And then use a more specific rule to un-murder the real title/subtitle. */
headerbar box .title {
    font-size: 1.0em;
    color: unset;
}
headerbar box .subtitle {
    font-size: 0.8em;
    color: unset;
}
