/* Simplified from source: https://askubuntu.com/a/1151079
 * This gets rid of GTK3 custom shadows on windows, menus and tooltips,
 * so that your external compositor can theme them as it wishes. */
decoration, decoration:backdrop,
tooltip, tooltip:backdrop,
tooltip *, tooltip:backdrop *,
.csd, .window-frame {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

/* Toolkit-rendered rounded corners don't work great with Picom. */
.csd menu, .csd .menu, .csd .context-menu {
    border-radius: 0px;
}
headerbar {
	border-radius: 0px;
}
