/* Sidebar customizations, mainly for Tree Style Tab. */
#sidebar-box[checked] {
    background-color: window !important;
    display: -moz-box !important;
    -moz-box-direction: reverse !important;
}
#sidebar-box[hidden] { display: none !important; }
#sidebar-header {
    padding: 1px !important;
    border-top: 1px buttonshadow solid !important;
    border-bottom: none !important;
    font-size: unset !important;
    font-weight: unset !important;
}
#sidebar-close, #sidebar-header spacer {
    display: none !important;
}
#sidebar-header toolbarbutton {
    padding: 1px !important;
    margin: 0px !important;
}
#sidebar-switcher-arrow {
    list-style-image: url(chrome://global/skin/icons/spinner-arrow-up.svg) !important;
    width: 10px !important;
    height: 10px !important;
    margin-right: 2px;
}
.sidebar-splitter {
    width: 2px !important;
}

/* Blend navbar with panel and titlebar. */
#nav-bar { -moz-appearance: menubar !important; }

/* Hide tabs toolbar in favor of tree style tab. */
#TabsToolbar {
    visibility: collapse !important;
}

/* Slim toolbar and buttons. */
:root {
    --toolbarbutton-height: 20px !important;
    --toolbarbutton-internal-padding: 3px !important;
    --toolbarbutton-inner-padding: 3px !important;
}
#nav-bar {
    min-height: unset !important;
    padding: 0px !important;
}
#nav-bar toolbarbutton, #nav-bar toolbarbutton .toolbarbutton-badge-stack {
    padding: 0px 1px !important;
}
#nav-bar toolbarbutton .toolbarbutton-icon {
    padding: 3px !important;
    width: unset !important;
    height: unset !important;
}

/* Slim URL bar. */
#urlbar {
    margin: 2px 1px 1px 1px !important;
}
#urlbar .urlbar-input-box {
    max-height: 20px !important;
    min-height: 20px !important;
}
#urlbar #page-action-buttons image, #urlbar .urlbar-history-dropmarker {
    padding: 3px 2px !important;
}
#urlbar #identity-box {
    padding-left: 6px !important;
}
[uidensity="compact"]:root #urlbar, [uidensity="compact"]:root .searchbar-textbox {
    min-height: unset !important;
}
[uidensity="compact"]:root .urlbar-icon {
    width: unset !important;
    height: unset !important;
}
/* Override pesky inline styles by specifying the style attribute. */
#urlbar-container[style] {
    --urlbar-container-height: 25px !important;
}
#urlbar[style] {
    --urlbar-toolbar-height: 21px !important;
}


/* Megabar fixes by Wesley Branton, big thanks to him! */
/* Customized for my own use. */
/* https://raw.githubusercontent.com/WesleyBranton/userChrome.css-Customizations/master/css/remove_megabar.css */

/* Disable expanding megabar. */
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
}

/* Remove URL result padding. */
.urlbarView {
    margin-top: 0 !important;
    margin-inline: 0 !important;
    width: 100% !important;
}
.urlbarView-results {
    padding: 0 !important;
}
.urlbarView-row {
    padding-block: 0 !important;
}
.urlbarView-row-inner {
    padding: 3px 2px !important;
}

/* Unchonk search one-offs. */
.search-one-offs {
    padding-block: unset !important;
}
.search-panel-one-offs-header {
    min-height: 24px !important;
}
.search-panel-one-offs-header-label {
    padding-inline-start: 4px !important;
    padding-inline-end: 4px !important;
}
.searchbar-engine-one-off-item {
    min-width: 24px !important;
    height: 24px !important;
    margin-inline-end: 2px !important;
}

/* Move URL result type icon. */
.urlbarView-type-icon {
    min-width: 16px !important;
    height: 16px !important;
    margin-bottom: 0 !important;
    margin-inline-start: 0 !important;
}
.urlbarView-favicon {
    margin-inline-start: 20px !important;
}


/*@import url(./moz-css/fx57-treestyletab.css);*/
