#urlbar-container, #urlbar-container[style] {
    max-width: 260px !important;
    min-width: 260px !important;
    margin-left: -4px;
}
#urlbar {
    height: 22px;
    margin-bottom: 0px;
    margin-top: 2px;
    box-shadow: none;
}
#identity-box {
    max-width: 22px !important;
    min-width: 22px !important;
}
#notification-popup-box, #identity-icon-labels, #padlock-ib {
    -moz-appearance: none;
    display: none;
}
#notification-popup-box {
    width: 0px;
    max-width: 0px;
}

#TabsToolbar toolbarbutton > *, #TabsToolbar toolbaritem > * {
    padding: 0px 1px !important;
}
#ctraddon_back-forward-button > *, #home-button {
    padding: 0px 1px !important;
    margin-bottom: -1px !important;
}
#TabsToolbar toolbarbutton, #TabsToolbar toolbaritem {
    padding: 0px 1px !important;
    /*margin-top: 0px !important;
    margin-bottom: 0px !important;*/
}

#home-button > *, #ctraddon_back-button > *, #ctraddon_forward-button > *, #new-tab-button > *, #alltabs-button > * {
    margin-top: 2px !important;
}
/*#ctraddon_appbutton > *{
    margin-top: -2px !important;
}*/

#TabsToolbar .tab-content, #TabsToolbar .tab-stack, .tabbrowser-tab {
    min-height: unset !important;
}
#TabsToolbar tab, #TabsToolbar tabs {
    min-height: 22px !important;
    max-height: 22px !important;
    height: 22px !important;
    margin-bottom: 0px;
    border: none !important;
    padding: none !important;
}
#TabsToolbar tabs {
    margin-left: -8px;
}
#TabsToolbar .tab-content > * {
    margin-top: -8px !important;
}
#TabsToolbar .tab-label {
    /*margin-top: 1px !important;*/
}
#TabsToolbar .tab-content {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
#TabsToolbar {
    margin-top: -2px;
    margin-bottom: -4px;
}
#navigator-toolbox {
    margin-bottom: -1px;
}

.unknownIdentity, .chromeUI, .urlbar-history-dropmarker {
    -moz-appearance: none;
    display: none;
}
