conky.config = {
	update_interval = 1.0,
	total_run_times = 0,

	alignment = 'bottom_right',
	gap_x = 2,
	gap_y = 2,

	use_xft = true,
	override_utf8_locale = true,
	font = 'Avenir:size=12',

	border_width = 0,
	border_inner_margin = 6,
	border_outer_margin = 0,
	draw_shades = true,

	own_window = true,
	own_window_type = 'desktop',--Change to normal when using GNOME Shell
	own_window_title = 'QuodLibet-Conky',
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
	own_window_transparent = true,
	own_window_argb_visual = true,

	max_text_width = 0,
	minimum_height = 136,

	default_color = '#dcdcdc',
	color1 = '#dcdcdc',

	text_buffer_size = 65536,
	double_buffer = true,
	no_buffers = true,

	lua_load = '../draw.lua',
	lua_draw_hook_pre = 'draw_ql 0x2B3B3F66 8 0 0 0 72 0 -4 4 1 0',
}

conky.text = '${execp ./conky.sh -w -A -h -s13 -t17 -S12 -T16 -i128 -v65 -a140 -r8 -f "Avenir" -F "VL PGothic"}'
