conky.config = {
	update_interval = 1.0,
	total_run_times = 0,

	alignment = 'bottom_right',
	gap_x = 1282,
	gap_y = 72,

	use_xft = true,
	override_utf8_locale = true,
	font = 'Apres:size=10',

	border_width = 0,
	border_inner_margin = 4,
	border_outer_margin = 0,
	draw_shades = true,

	own_window = true,
	own_window_type = 'desktop', --Change to normal when using GNOME Shell
	own_window_title = 'QuodLibet-Conky',
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
	own_window_transparent = true,
	own_window_argb_visual = true,

	max_text_width = 0,
	minimum_height = 104,

	default_color = '#dcdcdc',
	color1 = '#dcdcdc',

	text_buffer_size = 65536,
	double_buffer = true,
	no_buffers = true,

	lua_load = '../draw.lua',
	lua_draw_hook_pre = 'draw_ql 0x2B3B3F66 8 0 0 0 50 0 0 4 1 0',
}

conky.text = '${execp ./conky.sh -w -A -h -s11 -t14 -S10 -T13 -i96 -v48 -V43 -a104 -r4 -f Apres -F "VL PGothic"}'
