/* App-specific fixes. */

/* GTK3 Thunar. Fortunately we can use symbolic colors. */
.thunar {
	-gtk-icon-style: regular;
}
.thunar #location-toolbar {
	background-color: @wm_bg_a;
	box-shadow: none;
	padding: 2px;
	border-bottom: 1px solid @borders;
}
.thunar #location-toolbar toolbutton {
	min-height: unset;
}
.thunar #location-toolbar entry {
	padding: 0px 4px;
}
.thunar .frame.standard-view {
	border: none;
}
.thunar grid {
	background-color: @theme_base_color;
}
