/* Generic compacting. */

/* Start with all buttons, then fix what that breaks. */
button
    { padding: 4px 8px; }
toolbar button
    { padding: 2px; }
treeview header button
    { padding: 3px 6px; }
tab button, spinbutton button
    { padding: 0px; }

/* Now for other widgets. */
entry
    { padding: 4px; }
spinbutton entry
    { padding: 0px; }
menuitem
    { padding: 3px 4px; }
menubar > menuitem
    { padding: 3px 8px; }
popover modelbutton
    { padding: 3px 4px; }
popover modelbutton label
    { margin: 0px; padding: 0px; }
row
    { padding: 0px 2px; }
row revealer
    { padding: 0px 4px; }
header tab, header.top tab, header.bottom tab
    { padding: 3px 4px; }
header.left tab, header.right tab
    { padding: 4px 3px; }
notebook header image
    { padding: 2px; }
scrollbar.vertical slider
    { min-height: 20px; min-width: 8px; }
scrollbar.horizontal slider
    { min-width: 20px; min-height: 8px; }

/* Header bars. */
headerbar
    { min-height: 36px; }
headerbar > *
    { margin-top: 1px; margin-bottom: 1px; }
headerbar button
    { padding: 1px; }
headerbar button.image-button, headerbar button.titlebutton
    { padding: 2px; }
headerbar stackswitcher button
    { padding: 2px 4px; margin: 0px 2px; }
headerbar button
    { min-width: 20px; min-height: 20px; }

/* Murder the goddamn headerbar sizing box. 
 * Thanks to borschty from freenode for the idea.
 * The reason this is necessary is because the sizing box
 * isn't actually attached to a headerbar. */
box .title, box .subtitle {
    font-size: 0;
}

/* And then use a more specific rule to un-murder the real title/subtitle. */
headerbar box .title {
    font-size: 1.0em;
}
headerbar box .subtitle {
    font-size: 0.8em;
}
